/* DesktopNavBar.css */
.desktop-navbar {
    background-color: #f6f6f6;
    
  }
  
.navbar {
    background-color: #152238;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 0px;
    padding: 0.5%;
    }
  
.navbar ul {
    list-style: none;
    display: flex;
    padding: 1%;
  }
  
.navbar li {
    margin: 0 80px;
  }
  
.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
  }

.logo {
    background-color: #f1f1f1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding:2%;

  }

    .logo img {
    position: relative;
    
    width: 10%; /* Adjust the width as needed */
    height:  5%;
    transition: transform 0.3s; /* Add a smooth transition effect */

    /* Initial size */
    transform: scale(2.5);
    }
.zoomable-image:hover {
        /* Enlarge the image when hovered */
        transform: scale(0.2); /* You can adjust the scale factor for the desired zoom level */
    }
